/* Main entry page styling */

.entry-cover img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#homepage-content{
    background-image: url("/background_image.png");
}

.profile_inner > h1 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.profile_inner > span {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}